.remove-bg {
  filter: brightness(1.1);
  mix-blend-mode: multiply; }

.backgroundCrema {
  background-color: #FEF5ED; }

.backgroundVerde {
  background-color: #99a799; }

.fuenteNegra, .fuenteBlanca {
  text-shadow: 2px 2px 2px #ADC2A9;
  color: black;
  font-family: "Open Sans" sans-serif;
  text-align: justify; }

.fuenteBlanca {
  color: white; }

.sinDeco {
  text-decoration: none;
  color: black; }

.listaSinEstilo {
  list-style: none; }
