$paddings: ("chico": 3%, "grande": 5%, "cero": 0);

@mixin anchoalto($ancho, $alto){
    width: $ancho;
    height: $alto;
}

.mainAcercaEmpresa{
    background-color: #99a799;
}

.mainAcercaEmpresa section div{
    margin: 0;
    padding: map-get($paddings, "cero");
}

.mainAcercaEmpresa section div h1{
    font-size: 3rem;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 2px 2px 2px #ADC2A9;
    color: white;
    padding-left: map-get($paddings, "grande");
    padding-top: map-get($paddings, "grande");
}

.mainAcercaEmpresa section div h2{
    font-size: 2.5rem;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 2px 2px 2px #ADC2A9;
    color: white;
    padding-left: map-get($paddings, "grande");
    padding-top: map-get($paddings, "grande");
}

.mainAcercaEmpresa section div p{
    font-family: 'Open Sans', sans-serif;
    text-shadow: 2px 2px 2px #ADC2A9;
    color: white;
    text-align: justify;
    padding-left: map-get($paddings, "grande");
    padding-right: map-get($paddings, "grande");
    padding-top: map-get($paddings, "chico");
    padding-bottom: map-get($paddings, "chico");
}

.mainAcercaEmpresa section img{
    @include anchoalto(100%, 100vh)
}