.footer{
    display: flex;
    flex-direction: column;
    background-color: #FEF5ED;
    justify-content: space-around;
    padding: 3%;
}

.footer div{
    display: flex;
    justify-content: space-between;
}

.footer div ul{
    list-style: none;
}

.footer div a{
    text-decoration: none;
}

.footer div ul li a{
    font-family: 'Open Sans', sans-serif;
    color: black;
    text-shadow: 2px 2px 2px #ADC2A9; 
    font-size: 1rem;
}

.footer div div{
    display: flex;
    width: 100%;
    align-items: center;
    padding-right: 3%;
}

#pages{
    width: 20%;
}

#derechosAutor{
    justify-content: center;
}