$fuentes: (
    sombra: 2px 2px 2px #ADC2A9,
    colorBlanco: white,
    colorNegro: black,
    fuente: 'Open Sans' sans-serif,
    justificado: justify,
);

.fuenteNegra{
    text-shadow: map-get($fuentes, sombra);
    color: map-get($fuentes, colorNegro);
    font-family: map-get($fuentes, fuente);
    text-align: map-get($fuentes, justificado);
}

.fuenteBlanca{
    @extend .fuenteNegra;
    color: white;
}