.fuenteNegra{
    text-shadow: 2px 2px 2px $color-shadow;
    color: black;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
}

.fuenteBlanca{
    text-shadow: 2px 2px 2px $color-shadow;
    color: white;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
}