$fuentes: (
    sombra: 2px 2px 2px,
    colorBlanco: white,
    colorNegro: black,
    fuente: 'Open Sans', sans-serif,
    justificado: justify,
);

.fuenteNegra{
    text-shadow: map-get($estilos, $sombra);
    color: map-get($estilos, $colorNegro);
    font-family: map-get($estilos, $fuente);
    text-align: map-get($estilos, $justificado);
}

.fuenteBlanca{
    @extend .fuenteNegra;
    color: white;
}