.mainIndex {
    display: flex;
    background-color: #99a799;
    width: 100%;
    section {
        h1 {
            font-size: 4rem;
            padding-left: 5%;
            padding-top: 5%;
        }
        h2 {
            padding-left: 5%;
            padding-top: 5%;
        }
        p {
            text-align: justify;
            padding-left: 5%;
            padding-right: 5%;
            padding-top: 5%;
        }
    }
    div {
        div {
            h2 {
                font-family: 'Open Sans', sans-serif;
                text-shadow: 1.5px 1.5px 1.5px #ADC2A9;
                color: white;
            }
        }
    }
}

.hero1 {
    width: 100%;
    height: 80vh;
    font-family: 'Open Sans', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/bosque.png);
    a {
        background-color: #FEF5ED;
        text-decoration: none;
        text-shadow: 1.5px 1.5px 1.5px white;
        color: black;
        border-radius: 15px;
        padding: 1%;
        font-size: 1.5rem;
        margin-top: 2%;
    }
}

.hero2 {
    width: 100%;
    height: 80vh;
    font-family: 'Open Sans', sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/madera.jpg);
    a {
        background-color: #FEF5ED;
        text-decoration: none;
        text-shadow: 1.5px 1.5px 1.5px #ADC2A9;
        color: black;
        border-radius: 15px;
        padding: 1%;
        font-size: 1.5rem;
        margin-top: 2%;
    }
}